body{
    background-image: linear-gradient(359deg, #3023ae, #eb7f7b);
    background-repeat: no-repeat;
}

.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-style: solid;
    border-radius: 20px;
    width:93%;
    margin: 0px 30px 20px 30px;
    z-index: 1; 
    background-color: white;
    position: fixed;
    top:10px;
}
.logo{
    margin-left: 10px;
    margin-top: 5px;
}
.nav{ 
    margin-top: 20px;
}
.nav span{
    font-size: 20px;
    padding-right: 15px;
    text-emphasis-style: bold;
    
}
.nav a{
    text-decoration: none;
    color: rgb(90, 84, 84);
   
}

.nav a:hover{ 
    text-decoration: underline;
    font-weight: bolder;

    color: rgb(243, 138, 138);

    

}
.main{
  
    width:94.5%;
    margin-left: 30px;
    margin-top: 100px;
    display:flex;
    background-color: blanchedalmond;
    
}
.fivelement{
    padding-left: 20px;
}
.fivelement p{
    font-size: 20px;
    font-weight: bolder;
    margin-top:-40px;
}
.photo{
    
    width: 45%;
    
}

.photo img{
    height: 650px;

}
.intro{
    width:45%;
    margin-top: 180px;
    font-size: 50px;
    margin-left: 0px;   
}
.intro span{
    font-family: arizonia;
    font-size: 60px;
    text-shadow: 1px 2px 0 seagreen;
}

.link{
    margin-top: 40px;
    right: 60px;
    text-align: right;
    position: fixed;
    color:black
}
.link a{
    list-style-type: none;
}
.link .home {
    margin-top: 300px;
}
.link .hometext{
    margin-top: -20px;
    padding-left: 20px;
    font-size: 18px;
    color: brown
}
#ah{
    font-size: 0px;
}
.aboutme{
    width:94.5%;
    margin-left: 30px;
    margin-top: 90px;
    text-align: center;
    
    
}
.aboutext{
    display: flex;
  padding-top: 10px;

}
.aboutme h1{

    color: white;
}
.aboutext{
background-color: blanchedalmond;
}
.amitopedia{
    text-align: justify;
    list-style: none;
    width:240px;
    border: rgb(184, 181, 181);
    border-style: solid;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 155px;
    padding-bottom: 5px;
}
.amitopedia img{
    padding-left: 25px;
}
.amitopedia h3{
    text-align: center;
}
.name{
    border-top-color: blanchedalmond ;
    border-right-color: blanchedalmond;
    border-left-color:blanchedalmond ;
    border-bottom: rgb(184, 181, 181);
    border-style: solid;
}
.description{
    font-size: 12px;
}
.dropdown{
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 125px;
    transition-delay: 15s;
}
.dropdown a{
    float: none;
    display: block;
    padding: 15px 18px;
}
.profile:hover .dropdown{
    display:block
}
.maina{
    width:94.5%;
    margin-left: 30px;
    margin-top: 100px;
    display:flex;
    background-color: blanchedalmond;
    justify-content: space-around;
}
.eduvid{
    margin-top: 28px;
}
.edupic{
    margin-top: 8px;
    margin-left:-90px;
    margin-bottom: 30px;
 
}
.edupic p{
    font-size: 22px;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
}
#bh{
    font-size: 0px;
    margin-top: 80px;
}
.expierence{
    width:94.5%;
    margin-left: 30px;
    margin-top:20px;
    display:flex;
    background-color: blanchedalmond;
    padding-top: 0px;
    height: 550px
  
}
.exvid{
    margin-left: -135px;
}
.extext{
    margin-left: -100px;
    width: 210px;
    margin-top: 50px;
}
.contact{
    width:94.3%;
    display: flex;
    
    text-align: center;
    margin-top: 100px;
    margin-left: 30px;
    background-color: blanchedalmond;
}
.context{
    width: 300px;
    margin-left: 60px;
}
.box{
    border-style: ridge;
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow: black;
}
#foot{
    margin-top: 0px;
    font-family: arizonia;
    font-size: 40px;
}

@media only screen and (max-width: 980px){

    .header{
        display: block;
        justify-content: space-between;
        border-style: solid;
        border-color: white;
        border-radius: 0px;
        width:100%;
        margin: 0px 0px 0px 0px;
        z-index: 1; 
        background-color:black;
        position: fixed;
        top:10px;
    }
    .logo{
        margin-left: 10px;
        margin-top: 5px;
        text-align: center;
    }
    .nav{ 
        margin-top: 20px;
        text-align: center;
    }
    .nav span{
        font-size: 35px;
        padding-right: 15px;
        text-emphasis-style: bold;
        
    }
    .nav a{
        text-decoration: none;
        color: white;
    }
    
    .nav a:hover{ 
        text-decoration: underline;
        font-weight: bolder;
        color: rgb(12, 174, 238);
    }
    ,main{
        height: 2500px;
    }
    .photo{
        margin-left: -250px;
    }

    .photo img{
        height: 1100px;
    
    }
    .intro{
        width:45%;
        margin-top: 180px;
        font-size: 70px;
        margin-left: 250px;  
    }



    .aboutext{
        display: block;
      padding-top: 10px;
    }

   

    
        
    



